*,
::before,
::after {
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  width: fit-content;
  margin: 30px auto;
}

.divider {
  margin: 0px auto 18px auto;
  width: 30%;
  height: 1.8px;
  background-color: chocolate;
}

button {
  background-color: transparent;
  outline: none;
  border: 0.5px solid chocolate;
  padding: 9px 12px;
  border-radius: 9px;
  color: chocolate;
}

button:hover,
.button-bg {
  background-color: rgba(210, 105, 30, 0.7);
  color: white;
}

@media only screen and (min-width: 768px) {
  .recepie-grid {
    margin: 18px auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .recepie-grid {
    margin: 18px auto;
  }
}

.recepie {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 30px 30px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0px 9px 9px 9px;
}

.header-div {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  column-gap: 18px;
  margin: 9px;
  font-size: 19px;
  color: chocolate;
  text-align: center;
}

.content-divider {
  width: 90%;
  height: 1px;
  background-color: grey;
  margin-bottom: 18px;
}

.des {
  text-align: start;
  margin: 0px 9px;
  word-wrap: break-word;
}

.img {
  width: 360px;
  height: fit-content;
  object-fit: fill;
}
